<TMPL_INCLUDE NAME="header.tmpl">
    <h2>new cateogry</h2>
    <form>
      <input type="hidden" name="mode" value="Category_Confirm" />
      Name<br/>
      <input type="text" name="name"  /> <br/>

      <br/>
      <input type="submit" value="post" />

    </form>

  </body>

</html>
<TMPL_INCLUDE NAME="footer.tmpl">
