<TMPL_INCLUDE NAME="header.tmpl">

    <h2>a Category</h2>
    <form>
      <input type="hidden" name="mode" value="Category_Confirm" />
      <input type="hidden" name="id" value="%id%" />
      Name<br/>
      <input type="text" name="name" value="%name%" /> <br/>
      <br/>
      <input type="submit" value="post" />

    </form>


<TMPL_INCLUDE NAME="footer.tmpl">
