<TMPL_INCLUDE NAME="header.tmpl">


    <h2>confirm your post</h2>
    <form>
      <input type="hidden" name="mode" value="Category_Save" />
      <input type="hidden" name="id" value="%id%" />

      name<br/>
      %name%
      <input type="hidden" name="name" value="%name%" /> <br/>
      <br/>
      <input type="submit" value="post" />

    </form>

<TMPL_INCLUDE NAME="footer.tmpl">
