<TMPL_INCLUDE NAME="header.tmpl">

<a href="?mode=Entry_Create">new post</a>
   <h2><a href="?mode=Entry_Display&id=%id%">%title%</a></h2>
   <p>%body%</p>
   <p>%created_on%</p>

<TMPL_INCLUDE NAME="footer.tmpl">

