  </div><!-- content -->

  <div id="footer">
    <!-- hr/ -->
    <p id="copyrigth">
    copyright DQNEO 2009  all rights reserved
    [ [%template_name%] ]
    </p>
  </div>

</div><!-- container -->
</body>
</html>
