<html>
  <head>
    <title>What a wonderful world</title>
    <link rel="stylesheet" type="text/css" href="css/base.css"   /> 


  </head>

<body>

  <div id="container">

    <div id="header">
      <h1><a href="?mode=Entry_List">What a wonderful world...</a></h1>
    </div>

    <div id="content">
